rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sets/{id} {
      allow read, write: if true;
    }
    match /classes/{id} {
      allow read, write: if true;
      match /avatars/{aid} {
        allow read, delete: if true;
        allow create, update: if request.resource.data.img is string
                              && request.resource.data.img.size() < 200000;
      }
    }
    match /rooms/{room} {
      allow read, delete: if room.matches('^[0-9]{4,6}$');
      allow create, update: if room.matches('^[0-9]{4,6}$')
                            && request.resource.data.keys().size() < 30;
      match /gifts/{gift} {
        allow read, delete: if true;
        allow create, update: if request.resource.data.img is string
                              && request.resource.data.img.size() < 400000
                              && request.resource.data.team is int;
      }
    }
  }
}
